.projects {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.projects p {
    margin-bottom: 4rem;
    padding: 0 1rem;
    color:rgb(144, 225, 248);
    font-weight: bold;

    
}

.projects-img p {
    margin-bottom: 4rem;
    padding: 0 1rem;
    color: rgb(45, 13, 76);
    font-weight: bold;

}


.projects img {
    max-width: 65%; /* Set the maximum width of the image to 100% */
    height: auto; /* Set the height of the image to auto */
    margin-bottom: 20px;
    transition: transform 0.7s ease; /* Add transition for smooth scaling */
    transform-origin: center; /* Ensure scaling is centered */
}

.projects img:hover {
    transform: scale(1.1); /* Scale the image by 10% on hover */
}

@media (max-width: 768px) {
.projects-img {
    display: block;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10px;
    }
}
/* What do you want to accomplish with the limited amount of time you have on this earth? Are your habits and routines helping you achieve that? */