.gpt3__header {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 10px;
  flex-wrap: wrap; /* Add this line */
}

.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  padding: 0 24px;
  
}

.box-shadow-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20;
  color:rgb(4, 40, 37);
  
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;  
}
.gpt3__header-content p {
  font: Helvetica; 
  transform: translateX(-100%);  /* Start off-screen */
  animation: slideInFromLeft 1s 0.3s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.gpt3__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 70px;
  line-height: 90px;
  letter-spacing: -0.04em;
  transform: translateX(-100%);  /* Start off-screen */
  animation: slideInFromLeft 1s 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}



.gpt3__header-content__input {
  width: 90%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}

.gpt3__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gpt3__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #e88e06;
  border: 2px solid #0c0e00;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}





.gpt3__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3__header-image img {
  width: 75%;
  height: 75%;
  border-bottom-left-radius: 20px; /* Round the bottom left corner */
  border-bottom-right-radius: 20px; /* Round the bottom left corner */
}


@media screen and (max-width: 1050px) {
  .gpt3__header {
      flex-direction: column;
  }


  .gpt3__header-content {
      margin: 0 0 3rem;
  }
}
@media screen and (max-width: 1050px) {
  .gpt3__header-image img {
    width: 50%;
    height: 50%;
  }
  .gpt3__header-content h1 {
    font-size: 69px;
    line-height: 90px;
}
}
@media screen and (max-width: 800px) {
  .gpt3__header-content h1 {
    font-size: 58px;
    line-height: 80px;
}
.gpt3__header-content p {
  font-size: 20px;
  line-height: 24px;
}
}
@media screen and (max-width: 650px) {
  .gpt3__header-content h1 {
      font-size: 55px;
      line-height: 75px;
  }

  .gpt3__header-content p {
      font-size: 6px;
      line-height: 24px;
      padding: 0 24px;
  }
  
  .andrew-logo {
    margin: 50px auto; /* Adjust this for vertical spacing from the above content */
  }
  

  .gpt3__header-image img {
    height: 65%;
    width: 65%;
    border-bottom-left-radius: 20px; /* Round the bottom left corner */
    border-bottom-right-radius: 20px;
  }
  
}



@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.gpt3__header-content, .gpt3__header-image {
  /* Increased the duration to 2s and added a delay of 0.5s */
  animation: fadeIn 4.8s  cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

@keyframes float {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0px);
  }
}

.gpt3__header-image img {
  animation: float 2s infinite;
}

@keyframes slideInFromLeft {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.andrew-logo {
  display: block;
  margin: 20px auto; /* Adjust this for vertical spacing from the above content */
  width: 200px; /* Adjust size as needed */
  animation: spin 6s linear infinite, fadeEffect 5s ease-in-out infinite;

}

.andrew-logo-container {
  display: flex; /* This will allow you to easily center the logo */
  justify-content: center; /* Horizontally center the logo */
  align-items: center; /* Vertically center the logo, if needed */
  width: 100%
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.0;
  }
}

html {
  scroll-behavior: smooth;
}