.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;

}

.navbar__left {
    
    position: absolute;
    left: 20px;
}
.navbar__links {
    position: absolute;
    background-color: #0d1d47; 
    border-radius: 5px;
    flex-direction: column;
    padding: 1rem;
    width: 140px;
    z-index: 1000; 
}
.navbar__links--closed {
    display: none; 
}

.navbar__links--open {
    display: block;
}


.navbar__hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    margin-top: 15px;
}
.navbar__link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: turquoise;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
    transform-origin: center; /* Make sure scaling is centered */
}

.navbar__link:hover {
    transform: scale(1.1); /* Scale the link by 10% on hover */
}


.navbar__hamburger-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #ece9e9;
    border-radius: 2px;
    margin-bottom: 4px;
}

.navbar__hamburger-icon:last-child {
    margin-bottom: 0;
}

.navbar__container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 250px;
    height: 250px;
    top:7.5px;
    left: 50px;

    
}

.navbar__logo {
    width:210px;
    height: 150px;   
}




.navbar__hamburger:hover .navbar__hamburger-icon {
    background-color: #b6dad9; 
    transition: background-color 0.3s ease;
}

.navbar__hamburger::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px; /* Adjust as necessary for the size of the circle */
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2); /* Translucent white, adjust rgba values as needed */
    border-radius: 50%; /* Makes it a circle */
    transform: translate(-50%, -50%) scale(0); /* Center it and initially scale down to 0 */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transition effect */
    z-index: -1; /* Place it behind the hamburger icon */
}

.navbar__hamburger:hover::before {
    transform: translate(-50%, -50%) scale(1); /* Scale it to its original size on hover */
    opacity: 1; /* Make it fully visible on hover */
}

@media (max-width: 650px) {
    .navbar__logo {
        width:180px;
        height: 130px;     
    }
}