.App {
  text-align: center;

}

body {
      /* ff 3.6+ */
      background: -moz-radial-gradient(ellipse at 50% 50%, rgba(1, 203, 188, 1) 0%, rgba(4, 36, 117, 1) 100%);

      /* safari 5.1+,chrome 10+ */
      background: -webkit-radial-gradient(ellipse at 50% 50%, rgba(1, 203, 188, 1) 0%, rgba(4, 36, 117, 1) 100%);
  
      /* opera 11.10+ */
      background: -o-radial-gradient(ellipse at 50% 50%, rgba(1, 203, 188, 1) 0%, rgba(4, 36, 117, 1) 100%);
  
      /* ie 10+ */
      background: -ms-radial-gradient(ellipse at 50% 50%, rgba(1, 203, 188, 1) 0%, rgba(4, 36, 117, 1) 100%);
  
      /* global 92%+ browsers support */
      background: radial-gradient(ellipse at 50% 50%, rgba(1, 203, 188, 1) 0%, rgba(4, 36, 117, 1) 100%);
  }

  .gradient__text {
  /* ff 3.6+ */
  background: -moz-linear-gradient(90deg, rgba(241, 255, 254, 1) 0%, rgba(117, 230, 221, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, rgba(241, 255, 254, 1) 0%, rgba(117, 230, 221, 1) 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, rgba(241, 255, 254, 1) 0%, rgba(117, 230, 221, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75E6DD', endColorstr='#F1FFFE', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(90deg, rgba(241, 255, 254, 1) 0%, rgba(117, 230, 221, 1) 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(90deg, rgba(241, 255, 254, 1) 0%, rgba(117, 230, 221, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

} 


